.editcinema {

    .ant-col-3 {
        height: 100%;
        line-height: 32px;
        text-align: right;
    }

    .item {
        margin-bottom: 30px;
    }

    .btn {
        text-align: center;

        .ant-btn {
            background: #58bc58
        }
    }

}